<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  </head>
  <body>
    <h1><%= title %></h1>
  
 
    <form action="/SearchTrip" method="post">
        <div class="form-row align-items-center">
          <div class="col-sm-3 my-1">
            <label class="sr-only" for="inlineFormInputName">D'o첫 partez-vous ?</label>
            <input type="text" class="form-control" name="departFF" placeholder="D'o첫 partez-vous ?">
          </div>
          <div class="col-sm-3 my-1">
            <label class="sr-only" for="inlineFormInputGroupUsername">O첫 allez-vous ?</label>
            <div class="input-group">
              <input type="text" class="form-control" name="arriveeFF" placeholder="O첫 allez-vous ?">
            </div>
          </div> 
          <div class="col-sm-3 my-1">
                <input type="date" class="form-control" name="dateDepartFF" placeholder="Quand partez-vous ?">
          </div>
          <div class="col-auto my-1">
            <button type="submit" class="btn btn-primary">GOOOoooOOOOoooOOOO</button>
          </div>
        </div>
      </form>

  </body>
</html>
