<nav class="header navbar navbar-light bg-grey ">

  <a id= "PlanetHack" class="offset-lg-6 mx-3" href="/homepage"><span  style="font-size: 1.2em"><i class="fas fa-rocket mx-2"></i><span class="mx-2">PlanetHack</span></a>
  
  <div class="dropdown">
    <button class="btn dropdown-toggle mx-5" type="button" data-toggle="dropdown">
    Mon espace
    </button>
    <div class="dropdown-menu">
      <a id = "boutton-dd" class="dropdown-item" href="/panier">Panier protoplanétaire</a>
      <a id = "boutton-dd" class="dropdown-item" href="/lasttrip">Mes voyages cosmiques</a>
      <a id = "boutton-dd" class="dropdown-item" href="/deconnexion">Deconnexion</a>
    </div>
   </div>
</nav>