<nav class="header navbar navbar-light bg-grey ">

    <a id= "boutton" class="offset-lg-6 mx-3" href="/"><i class=></span></i> Ticketac</a>

    <span class= "offset-lg-6 mx-3">
    <a id = "boutton" class=" offset-lg-6 mx-3" href="">Deconnection</a>
    <a id = "boutton" class=" offset-lg-6 mx-3" href="">Mes derniers voyages</a>
    </span> 

  </nav>