<nav class="header navbar navbar-light bg-grey ">

    <a id= "boutton" class="offset-lg-6 mx-3" href="/homepage"><span  style="font-size: 1.2em"><i class="fas fa-rocket mx-2"></i><span class="mx-2">PlanetHack</span></a>

    <span class= "offset-lg-6 mx-3">
    <a id = "boutton" class=" offset-lg-6 mx-3" href="/panier">Panier</a>
    <a id = "boutton" class=" offset-lg-6 mx-3" href="">Mes derniers voyages cosmiques</a>
    </span> 

  </nav>